body {
    background: #333;
    overflow-y: scroll;
}

.startPoint {
    position: absolute;
    top: -10px;
    left: -20px;
    /*background: chartreuse;*/
    width: 60px;
    height: 60px;
    border-radius:50%;
    /*border-radius: 30px;*/
    z-index: 2;
}

.endPoint {
    position: absolute;
    top: -10px;
    left: 560px;
    /*background: chartreuse;*/
    width: 60px;
    height: 60px;
    border-radius:50%;
    /*border-radius: 30px;*/
    z-index: 2;
}

.startPoint > *,.endPoint > * {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, .5);
    animation: pulse 3s infinite ease-out;
    -webkit-animation:pulse 3s infinite ease-out;
}

.circle-1 {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    background: linear-gradient(to bottom, rgba(200, 255, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
}

.circle-2 {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background: linear-gradient(to bottom, rgba(180, 255, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    animation-delay: .333s;
    opacity: 0;
}

.circle-3 {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background: linear-gradient(to bottom, rgba(120, 255, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    box-shadow: rgba(141, 205, 34,.6) 0px 0px 20px 5px, rgba(255, 255, 255, 0.45098) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.247059) 1px 0px 0px 0px inset, rgba(255, 255, 255, 0.247059) -1px 0px 0px 0px inset;
    animation: none;
    -webkit-animation:none;
}

.circle-3>span {
    position: absolute;
    text-align: center;
    line-height:50px;
    width: 100%;
    display: block;
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(1.5) rotate(360deg);
        opacity: 0;
    }
}

@-webkit-keyframes pulse{
    0% {
        -webkit-transform: scale(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5) rotate(360deg);
        opacity: 0;
    }
}


.label {
    position: absolute;
    /*top: -10px;*/
    /*left: -30px;*/
    background: chartreuse;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: 2;
    /*animation: pulse2 2s alternate infinite ease-in;*/
}
.labelwrap{
    z-index: 2;
    position: absolute;
    top: -10px;
    left: -30px;
    background: chartreuse;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    animation: pulse2 2s alternate infinite ease-in;
    -webkit-animation: pulse2 2s alternate infinite ease-in;;
}

.progressbar {
    position: relative;
    display: block;
    width: 560px;
    height: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    margin: 40px auto;
    -webkit-box-shadow: 0px 4px 4px -4px rgba(255, 255, 255, 0.4), 0px -3px 3px -3px rgba(255, 255, 255, 0.25), inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px -4px rgba(255, 255, 255, 0.4), 0px -3px 3px -3px rgba(255, 255, 255, 0.25), inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.progressbar:before {
    position: absolute;
    display: block;
    content: "";
    width: 558px;
    height: 18px;
    top: 10px;
    left: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #222;
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.85);;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.bar {
    position: absolute;
    display: block;
    width: 0px;
    height: 16px;
    top: 12px;
    left: 22px;
    background: rgb(126, 234, 25);
    background: -moz-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(126, 234, 25, 1)), color-stop(100%, rgba(83, 173, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7eea19', endColorstr='#53ad00', GradientType=0);
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

@keyframes pulse2 {
    0% {
        box-shadow: 0px 0px 5px 3px rgba(220, 220, 220, .5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
        /*transform: scale(0) rotate(0deg);*/
        /*opacity: 1;*/
    }
    100% {
        box-shadow: 0px 0px 15px 8px rgba(170, 170, 170, .8), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.45), inset 2px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.25);
        /*transform: scale(1.5) rotate(360deg);*/
        /*opacity: 0;*/
    }
}

@-webkit-keyframes pulse2 {
    0% {
        -webkit-box-shadow: 0px 0px 5px 3px rgba(220, 220, 220, .5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
        /*transform: scale(0) rotate(0deg);*/
        /*opacity: 1;*/
    }
    100% {
        -webkit-box-shadow: 0px 0px 15px 8px rgba(170, 170, 170, .8), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.45), inset 2px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.25);
        /*transform: scale(1.5) rotate(360deg);*/
        /*opacity: 0;*/
    }
}

.bar.color2 {
    background: rgb(229, 195, 25);
    background: -moz-linear-gradient(top, rgba(229, 195, 25, 1) 0%, rgba(168, 140, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229, 195, 25, 1)), color-stop(100%, rgba(168, 140, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(229, 195, 25, 1) 0%, rgba(168, 140, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(229, 195, 25, 1) 0%, rgba(168, 140, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(229, 195, 25, 1) 0%, rgba(168, 140, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(229, 195, 25, 1) 0%, rgba(168, 140, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5c319', endColorstr='#a88c00', GradientType=0);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(229, 195, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 12px 0px rgba(229, 195, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.bar.color3 {
    background: rgb(232, 25, 87);
    background: -moz-linear-gradient(top, rgba(232, 25, 87, 1) 0%, rgba(170, 0, 51, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232, 25, 87, 1)), color-stop(100%, rgba(170, 0, 51, 1)));
    background: -webkit-linear-gradient(top, rgba(232, 25, 87, 1) 0%, rgba(170, 0, 51, 1) 100%);
    background: -o-linear-gradient(top, rgba(232, 25, 87, 1) 0%, rgba(170, 0, 51, 1) 100%);
    background: -ms-linear-gradient(top, rgba(232, 25, 87, 1) 0%, rgba(170, 0, 51, 1) 100%);
    background: linear-gradient(to bottom, rgba(232, 25, 87, 1) 0%, rgba(170, 0, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e81957', endColorstr='#aa0033', GradientType=0);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(232, 25, 87, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 12px 0px rgba(232, 25, 87, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.bar.color4 {
    background: rgb(24, 109, 226);
    background: -moz-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(24, 109, 226, 1)), color-stop(100%, rgba(0, 69, 165, 1)));
    background: -webkit-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
    background: -o-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
    background: -ms-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
    background: linear-gradient(to bottom, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#186de2', endColorstr='#0045a5', GradientType=0);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(24, 109, 226, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 12px 0px rgba(24, 109, 226, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

/*.bar:before {*/
    /*position: absolute;*/
    /*display: block;*/
    /*content: "";*/
    /*width: 606px;*/
    /*height: 150%;*/
    /*top: -25%;*/
    /*left: -25px;*/
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);*/
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(50%, rgba(255, 255, 255, 0.01)), color-stop(51%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));*/
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);*/
    /*background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);*/
    /*background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);*/
    /*background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59ffffff', endColorstr='#00ffffff', GradientType=1);*/
/*}*/

/*.bar:after {*/
    /*position: absolute;*/
    /*display: block;*/
    /*content: "";*/
    /*width: 64px;*/
    /*height: 16px;*/
    /*right: 0;*/
    /*top: 0;*/
    /*-webkit-border-radius: 0px 16px 16px 0px;*/
    /*border-radius: 0px 16px 16px 0px;*/
    /*background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));*/
    /*background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);*/
    /*background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);*/
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);*/
/*}*/

.bar span {
    position: absolute;
    display: block;
    width: 100%;
    height: 64px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    top: 0;
    left: 0;
    background: url("../img/sparkle.png");
    -webkit-animation: sparkle 1500ms linear infinite;
    -moz-animation: sparkle 1500ms linear infinite;
    -o-animation: sparkle 1500ms linear infinite;
    animation: sparkle 1500ms linear infinite;
    opacity: 0.2;
}

/*.label {*/
/*font-family: 'Aldrich', sans-serif;*/
/*position: absolute;*/
/*display: block;*/
/*width: 40px;*/
/*height: 30px;*/
/*line-height: 30px;*/
/*top: 38px;*/
/*left: 0px;*/
/*background: rgb(76, 76, 76);*/
/*background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);*/
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(100%, rgba(38, 38, 38, 1)));*/
/*background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);*/
/*background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);*/
/*background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);*/
/*background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#262626', GradientType=0);*/
/*font-weight: bold;*/
/*font-size: 12px;*/
/*color: #fff;*/
/*text-align: center;*/
/*-webkit-border-radius: 6px;*/
/*border-radius: 6px;*/
/*border: 1px solid rgba(0, 0, 0, 0.2);*/
/*-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);*/
/*box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);*/
/*text-shadow: 0px -1px 0px #000000, 0px 1px 1px #000000;*/
/*filter: dropshadow(color=#000000, offx=0, offy=-1);*/
/*}*/

.label>span {
    position: absolute;
    display: block;
    width: 16px;
    height: 10px;
    top: 40px;
    left: 22px;
    background: transparent;
    overflow: hidden;
}

.label>span:before {
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    top: -6px;
    left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgb(86, 86, 86);
    background: -moz-linear-gradient(-45deg, rgba(86, 86, 86, 1) 0%, rgba(76, 76, 76, 1) 50%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(86, 86, 86, 1)), color-stop(50%, rgba(76, 76, 76, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(86, 86, 86, 1) 0%, rgba(76, 76, 76, 1) 50%);
    background: -o-linear-gradient(-45deg, rgba(86, 86, 86, 1) 0%, rgba(76, 76, 76, 1) 50%);
    background: -ms-linear-gradient(-45deg, rgba(86, 86, 86, 1) 0%, rgba(76, 76, 76, 1) 50%);
    background: linear-gradient(135deg, rgba(86, 86, 86, 1) 0%, rgba(76, 76, 76, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656', endColorstr='#4c4c4c', GradientType=1);
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.perc {
    position: absolute;
    top: 24px;
    left: 15.07px;
}

@-webkit-keyframes sparkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -64px;
    }
}

@-moz-keyframes sparkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -64px;
    }
}

@-o-keyframes sparkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -64px;
    }
}

@keyframes sparkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -64px;
    }
}


/*div#bubbleArea {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0 auto;*/
    /*z-index:3;*/
    /*background-color: black;*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*div#bubbleArea span.glow {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*display: block;*/
    /*border-radius: 200px;*/
    /*animation: bluePulse 2s infinite;*/
/*}*/

/*@keyframes bluePulse {*/
    /*from {*/
        /*-webkit-box-shadow: 0 0 30px #54a9ed;*/
    /*}*/
    /*50% {*/
        /*-webkit-box-shadow: 0 0 80px #69abdf;*/
    /*}*/
    /*to {*/
        /*-webkit-box-shadow: 0 0 30px #54a9ed;*/
    /*}*/
/*}*/

/*div#bubbleArea span.bubble {*/
    /*display: block;*/
    /*background: #FFF;*/
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* FF3.6+ */
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(105, 171, 223, 0.2)), color-stop(100%, #54a9ed));*/
    /* Chrome,Safari4+ */
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* Chrome10+,Safari5.1+ */
    /*background: -o-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* Opera 12+ */
    /*background: -ms-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* IE10+ */
    /*background: radial-gradient(ellipse at center, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3369abdf', endColorstr='#54a9ed', GradientType=1);*/
    /* IE6-9 fallback on horizontal gradient */
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 100px;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*z-index: 5;*/
    /*left: 30%;*/
    /*bottom: -40px;*/
    /*animation: bubbleFloat1 5s infinite;*/
/*}*/

/*@keyframes bubbleFloat1 {*/
    /*from {*/
        /*bottom: -40px;*/
        /*transform: scale(0.9);*/
        /*opacity: 0;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*1% {*/
        /*bottom: -20px;*/
        /*transform: scale(0.3);*/
        /*opacity: 0;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*30% {*/
        /*bottom: 0px;*/
        /*transform: scale(0.8);*/
        /*opacity: 1;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*95% {*/
        /*bottom: 40px;*/
        /*transform: scale(0.3);*/
        /*opacity: 0.5;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*to {*/
        /*bottom: 60px;*/
        /*transform: scale(0.1);*/
        /*opacity: 0;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
/*}*/

/*div#bubbleArea span.bubble2 {*/
    /*display: block;*/
    /*background: #FFF;*/
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* FF3.6+ */
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(105, 171, 223, 0.2)), color-stop(100%, #54a9ed));*/
    /* Chrome,Safari4+ */
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* Chrome10+,Safari5.1+ */
    /*background: -o-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* Opera 12+ */
    /*background: -ms-radial-gradient(center, ellipse cover, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* IE10+ */
    /*background: radial-gradient(ellipse at center, rgba(105, 171, 223, 0.2) 0%, #54a9ed 100%);*/
    /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3369abdf', endColorstr='#54a9ed', GradientType=1);*/
    /* IE6-9 fallback on horizontal gradient */
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 100px;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*z-index: 5;*/
    /*left: 15%;*/
    /*bottom: -30px;*/
    /*animation: bubbleFloat2 5s infinite;*/
/*}*/

/*@keyframes bubbleFloat2 {*/
    /*from {*/
        /*bottom: -30px;*/
        /*transform: scale(1);*/
        /*opacity: 0;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*1% {*/
        /*bottom: -10px;*/
        /*transform: scale(0.3);*/
        /*opacity: 0;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*30% {*/
        /*bottom: -5px;*/
        /*transform: scale(0.9);*/
        /*opacity: 1;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*95% {*/
        /*bottom: 40px;*/
        /*transform: scale(0.3);*/
        /*opacity: 0.5;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
    /*to {*/
        /*bottom: 80px;*/
        /*transform: scale(0.1);*/
        /*opacity: 0;*/
        /*animation-timing-function: ease-in-out;*/
    /*}*/
/*}*/